@import url(https://fonts.googleapis.com/css?family=Tajawal);

body, nav, main, footer {
    margin: 0;
    padding: 0;
    border: 0;   
}

body{
    background-color: transparent;

}

#container{
    font-family: 'Tajawal', serif;
}

#header{
    background-color: transparent;
    width: auto;
    height: 120px;
}

h1{
    cursor: pointer;
    float: left;
    position: relative;
    display: block;
    width: 40%;
    padding-left: 7%;
    font-size: 40px;
    top: 5%;
    text-decoration: none;
    color: #07beb8;
}

h1:active, h1:visited {
    color: #07beb8;
}

#navWrapper{
    display: block;
    width: 43%;
    float: right;
    margin-top: 4%;
}

.navHead{
    display: inline-block;
    margin-right: 10%;
    text-align: center;
}

.navLink{
    font-size: 140%;
    text-decoration: none;
    color: #07beb8;
    font-weight: bold;
}

.navLink:active, .navLink:visited{
    color: #07beb8;
}

.navHead p{
    cursor: pointer;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    h1{
        font-size: 35px;
        margin-top: 6%;
        font-size: 30px;
    }

    #navWrapper{
        display: block;
        width: 40%;
        float: right;
        margin-top: 8%;
    }
    
    .navHead{
        display: block;
        text-align: center;
    }
    
    .navLink{
        font-size: 20px;
    }

    #header{
        height: 150px;
    }
}

#upperFooter{
    padding-top: 1px;
    background-color: #06a5a0;
    width: auto;
    height: 150px;
}
  
#upperFooter p{
    font-size: 20px;
    padding-top: 2%;
    padding-left: 15%;
}

#lowerFooter{
    padding-top: 1px;
    background-color: #058d88; 
    width: auto;
    height: 80px;
}

#lowerFooter p{
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
}