#redeemContainerSearch{
    background-color: #C7CCDB;
    width: auto;
    height: 350px;
    padding-top: 2%;
    text-align: center;
}
  
#redeemContainerSearch p{
    font-size: 20px;
    padding-top: 3%;
}
  