#sections{
    width: auto;
    height: 440px;
    margin: 7% 10% 0 10%;
}
  
#recycle, #guide, #redeem{
    float: left;
    display: block;
    width: 250px;
}

#recycle, #guide{
    margin-right: 12%;
}

.sectionName{
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 267px;
    height: 70px;
    border: none;
}

.sectionImageBtn{
    display: block;
    object-fit: cover;
    background-color: transparent;
    cursor: pointer;
    margin-top: 30px;
    border: none;
}
  
.sectionImage{
    height: 250px;
    width: 250px;
}